:root {
  --bordercolor: rgba(76, 68, 68, 0.633);
  --secondarycolor: rgb(255, 193, 7);
  --fontcolor: rgb(33, 37, 41);
}
/* Default css */
* {
  margin: 0;
  padding: 0;
  color: var(--fontcolor);
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
/* Side Bar */
.sidebar {
  display: flex;
  flex-direction: column;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socials a {
  color: black;
  text-decoration: none;
  width: 42px;
  height: 42px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bordercolor);
  border-radius: 50%;
  margin-bottom: 20px;
}
.socials a:hover {
  background-color: var(--bordercolor);
  border: none;
  transform: scale(1.5);
  transition: 0.5s;
  box-shadow: 1px 1px 10px 2px var(--secondarycolor);
}
/* NavBar */
.navbar-container {
  background-color: white;
}
.navbar-link {
  transition: transform 0.6s;
}
.navbar-link:hover {
  transform: scale(1.2);
}
/* Home */
#home {
  padding: 2rem 0 8rem;
  min-height: 70vh;
  width: 100%;
}

.welcome-1 {
  font-size: 3em;
}
.welcome-2 {
  font-size: 4em;
}
.loop {
  font-size: 2em;
  display: inline-block;
}
.btn-home {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  width: 8em;
  height: 8em;
  border-radius: 50%;
}
.btn-home:hover {
  box-shadow: 1px 1px 5px 12px var(--secondarycolor),
    2px 2px 5px 24px rgba(248, 161, 27, 0.25);
  transition: 0.4s;
}

.down-arrow {
  position: absolute;
  transform: translate(10px, 100px);
  z-index: 1;
  margin-top: 1em;
  opacity: 0;
  transition: opacity ease-out 2s;
}
.btn-box:hover .down-arrow {
  opacity: 1;
}

/* Skills */
#skills {
  background: linear-gradient(white, var(--bordercolor));
}

h1 {
  transition: text-shadow 1s;
}
h1:hover {
  text-shadow: 1px 1px var(--fontcolor);
}

.circle1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--bordercolor);
  margin: 2em;
  transition: transform 0.5s;
}
.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 10px inset var(--bordercolor);
  transition: transform 0.5s;
  background-color: white;
}
.circle1:hover .circle {
  border: 10px inset var(--fontcolor);
}
.circle1:hover {
  background-color: var(--secondarycolor);
  border: 1px solid var(--fontcolor);
  transform: scale(1.5) rotate(360deg);
}

/* Projects */
#projects {
  background: linear-gradient(var(--bordercolor), white);
}
.project-section {
  margin-top: 4rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.slick-slide img {
  opacity: 0.5;
  transition: 0.8s;
}
.slick-slide:hover img {
  opacity: 1;
}
.card-body > p {
  font-size: small;
}
.slick-arrow {
  background-color: var(--fontcolor);
  border-radius: 50%;
  transition: 0.5s;
}
.slick-arrow:hover {
  background-color: var(--secondarycolor);
  box-shadow: 0px 0px 20px 5px var(--secondarycolor);
}
.btn-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-project:hover {
  background-color: white;
}
.btn-project i {
  color: var(--fontcolor);
  font-size: large;
}
.slick-slide > div {
  margin: 0 10px;
}
.tag {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tag span {
  background-color: var(--secondarycolor);
  margin: 2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: code;
  transition: transform 0.5s ease-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.tag span:nth-child(1) {
  animation-delay: 0s;
}
.tag span:nth-child(2) {
  animation-delay: 1s;
}
.tag span:nth-child(3) {
  animation-delay: 0.5s;
}
.tag span:nth-child(4) {
  animation-delay: 1.5s;
}
@keyframes code {
  40% {
    transform: translateY(-5px);
    background-color: yellow;
  }
  80% {
    transform: translateY(5px);
  }
}
/* About  */

.about-text {
  font-size: 15px;
  color: white;
}
.about-img {
  animation-name: fade-in;
  animation-timeline: scroll(Y);
  animation-duration: 5s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Contact */
.contact-section {
  margin-top: 5rem;
}
.contact {
  padding: 3rem;

  margin-bottom: 1rem;
}
.socials > i {
  font-size: 3rem;
}

.email-option {
  margin-top: 1rem;
}
.info-divider {
  background-color: white;
  border-radius: 20%;
  width: 0.3rem;
  height: 5rem;
}
.email-option > button {
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--secondarycolor);
  color: var(--fontcolor);
}
/* Footer */
.footer {
  background-color: black;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  font-size: 0.6rem;
}
.footer-container h2,
p,
ul,
li {
  color: white;
}
.footer-container ul {
  list-style-type: none;
  padding-top: 1rem;
  text-align: center;
  padding-inline-start: 0px;
}

.footer-container li {
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

@media (max-width: 576px) {
  .home-image {
    display: none;
  }
  .welcome-1 {
    font-size: 1em;
    font-weight: 700;
  }
  .welcome-2 {
    font-size: 2em;
    font-weight: 700;
  }
  .loop {
    font-size: 1em;
    font-weight: 700;
  }
}
@media (max-width: 900px) {
  .welcome-1 {
    font-size: 2em;
    font-weight: 700;
  }
  .welcome-2 {
    font-size: 3em;
    font-weight: 700;
  }
  .loop {
    font-size: 1em;
    font-weight: 700;
  }
}
